.featuredContainer {
  position: relative;
  width: 100%;
  height: 580px;
  max-height: 806px;

  .shadow {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(
      88deg,
      #040404 0%,
      rgba(4, 4, 4, 0.9) 47.39%,
      rgba(4, 4, 4, 0) 100%
    );
  }

  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .caption {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    gap: 12px;
    bottom: 0px;
    left: 0;
    width: 50%;
    height: 100%;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.6rem;

    img {
      width: 80%;
      object-fit: contain;
      overflow: hidden;
    }
  }

  .buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}

.trendingContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 280px;
  color: #fff;
  margin-top: -38px;

  .filmsList {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .film {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 140px;
      min-width: 140px;
      height: 100%;
      color: #fff;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}
